*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background-image: url(https://www.xtrafondos.com/wallpapers/paisaje-retro-de-atardecer-5436.jpg);
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    height: 100vh;
    }

.gameboard {
    height: 100vh;
    width: 100vh;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 60vh;
}

.color {
    width: 50%;
    height: 50%;
    display: inline-block;
}

.left {
    float: left;
}

.right {
    float: left;
}

.celeste {
    background: #22a6b3;
}

.celeste.light {
    background: #7ed6df;
}

.violeta {
    background: #be2edd;
}

.violeta.light {
    background: #e056fd;
}

.naranja {
    background: #f0932b;
}

.naranja.light {
    background: #ffbe76;
}

.verde {
    background: #6ab04c;
}

.verde.light {
        background: #badc58;
}

.btn-start {
    width: 400px;
    height: 100px;
    background: #470d39b2;
    color: #dab9d1;
    font-size: 2.5rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    border: none;
}
.btn-start:hover {
    width: 400px;
    height: 100px;
    background: #470d39b2;
    color: #ffffff;
    font-size: 3rem;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 200px);
    border: none;
}

.hide {
    display: none;
}